## Config file
config.py

### JetBrains template

# User-specific stuff:
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
